{% extends 'base-sidebar.html' %}

{% block dashboard_content %}
<div class="container">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title text-primary">Welcome Back!</h5>
                    <p class="card-text">You are logged in as <strong>{{ request.user.username }}</strong>.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}